:root {
  --backgroundColor: rgba(246, 241, 209); /* Fundo claro (pode manter ou mudar) */
  --colorShadeA: rgb(147, 112, 219); /* Roxo médio */
  --colorShadeB: rgb(153, 102, 204); /* Roxo mais escuro */
  --colorShadeC: rgb(186, 146, 255); /* Roxo pastel */
  --colorShadeD: rgb(216, 191, 255); /* Roxo muito claro */
  --colorShadeE: rgb(230, 218, 255); /* Roxo quase branco */
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

.big-button {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.0rem;
  color: var(--colorShadeA) !important;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

.emojiMenu{
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.big-button {
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
.big-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.big-button:active {
  transform: translate(0em, 0.75em);
}

.big-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}